body {
    background-image: url('http://openclipart.org/download/230143/Female-Engineer-9.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 800px 100px;
    background-size: 400px;
}


#content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
    width: 600px;
    padding: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

.li_menu {
    float: left;
}

.li_list {
    font-size: 14px;
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li form {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.column {
   display: inline-block;
   width: 45%;
   margin: 10px;
   border: none;
}

.shcolumn {
   display: inline-block;
   width: 10%;
   height:100px;
   margin: 10px;
   border: none;
}

.locolumn {
   display: inline-block;
   width: 10%;
   height:100px;
   margin: 10px;
   border: none;
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   text-align: left;
   padding:8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
   background-color: darkgreen;
   color: white;
}


.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
