body {
    background-image: url(LineDrawingManComputer.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 200px;
}


#content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
    width: 600px;
    padding: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgreen;
}

.li_menu {
    float: left;
}

.li_list {
    font-size: 14px;
    display: block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    float: center;
}

li a {
    font-size: 18px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.column {
   display: inline-block;
   width: 45%;
   height:200px;
   margin: 10px;
   border: none;
   float: top;
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   text-align: left;
   padding:8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
   background-color: darkgreen;
   color: white;
}
