{% extends "hub/base.html" %}

{% block content %}
<h2>
This is cool... (at least we think so :)
</h2>

<p>
The service keeps track of number of project, checking each individual
contribution. You can view project or author related information such as number
of commits summarized per projects or updated code of lines per programming
language. 
</p>

<p>
There is a rich graphics available, including calendar, pie and bar plots.
Each project has also animated development history video.
</p>

<p> E-HUB presentation:</p>
<a href="/static/hub/reveal/index.html"><img src="https://cdn2.iconfinder.com/data/icons/office-icon-set-3/512/presentation.png" width="300"></a>

<p>
contact <b>{{settings.contact}}</b> to include a new project/repository or when you have
improvement suggestions!
</p>

Enjoy!
{% endblock %}
