{% extends "hub/base.html" %}


{% block content %}

<p>
<div class=shcolumn>
   
<img width="80" src="{{thumbnail}}"/>
</div> 

<div class=locolumn>
<h3> {{author.name}} </h3>
{{author.email}}
</div> 
</p>

{% if author_contrib %}
{{author.name}}'s skills:
<p>
<div class="column">
<ul>
   {% for c in author_contrib %}
   <li class="li_list">
   {{ c.language }} : {{c.sum}}
   </li>
   {% endfor %}
</ul>
</div>

<div class="column" id=ContribPie>
</div>
</p>

<p>
   <div id="cal-heatmap"></div>
   <script type="text/javascript">
        var cal = new CalHeatMap();
        cal.init({
              id : "graph_b",
              domain : "month",
              range : 12,
              subDomain : "day",
              start: new Date(2015, 0),
              browsing: true,
              browsingOptions: {
                  previousLabel : "<i class=\"icon-chevron-left\"></i>",
                  nextLabel: "<i class=\"icon-chevron-right\"></i>"
                  },
              scale: [1, 2, 3, 5],
              data: {
                 {% for t in author_commit_timestamps %}
                 "{{t}}": 1,
                 {% endfor %}
              }
        });

        var cal2 = new CalHeatMap();
        cal2.init({
              id : "graph_b",
              domain : "month",
              range : 12,
              subDomain : "day",
              start: new Date(2016, 0),
              browsing: true,
              browsingOptions: {
                  previousLabel : "<i class=\"icon-chevron-left\"></i>",
                  nextLabel: "<i class=\"icon-chevron-right\"></i>"
                  },
              scale: [1, 2, 3, 5],
              data: {
                 {% for t in author_commit_timestamps %}
                 "{{t}}": 1,
                 {% endfor %}
              }
        });
   </script>
</p>

<p>
{{author.name}}'s commit rate per week:
<div id=CommitBar>
</div>
</p>

<p>
{{author.name}} contributs in:
<table>
   <tr>
      <th>Project</th>
      <th>Tot nr commits</th>
   </tr>
   {% for p in author_commit_per_proj %}
   <tr>
      <td><a href="/hub/project/{{p.id}}">{{ p.name }}</a></td>
      <td>{{ p.commit_count }}</td>
   </tr>
   {% endfor %}
</table> 
</p>

<p>
Latests {{author.name}}'s commits:
<table>
   <tr>
      <th>Date</th>
      <th>Project</th>
      <th>Message</th>
   </tr>
   {% for c in commits %}
   <tr>
      <td>{{ c.date|date:'Y-m-d' }}</td>
      <td>{{ c.project }}</td>
      <td>{{c.message}}</td>
   </tr>
   {% endfor %}
</table> 

{% else %}
<p>No contributions ... :/ .</p>
{% endif %}

<script>
var width = 200,
    height = 200,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category10();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.sum; });

var svg = d3.select("#ContribPie").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var data = [
{% for c in author_contrib %}
{"sum": {{c.sum}}, "language": "{{c.language}}" },
{% endfor %}
]

var g = svg.selectAll(".arc")
   .data(pie(data))
   .enter().append("g")
   .attr("class", "arc");

g.append("path")
   .attr("d", arc)
   .style("fill", function(d) { return color(d.data.language); })
   .append("svg:title")
      .text(function(d) { return "Language: "+d.data.language+" updates: "+d.data.sum; });

g.append("text")
   .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
   .attr("dy", ".35em")
   .text(function(d) { return d.data.language; });
</script>

<script>

var data = [
   {% for m,c in author_commit_per_month %}
      {"month": "{{m}}", "commits": {{c}} },
   {% endfor %}
   ]

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 600 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1),

    // to hold labels for every 4th week
    xf = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(xf)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var svg = d3.select("#CommitBar").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

x.domain(data.map(function(d) { return d.month; }));
y.domain([0, d3.max(data, function(d) { return d.commits; })]);
xf.domain(x.domain().filter(function(val,idx) { return idx %4 == 0; }));

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("commits");

svg.selectAll(".bar")
    .data(data)
  .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return x(d.month); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d.commits); })
    .attr("height", function(d) { return height - y(d.commits); })
    .append("svg:title")
      .text(function(d) { return "Commits:"+d.commits+ " week: "+d.month; });

</script>

{% endblock %}
