{% extends "hub/base.html" %}


{% block content %}

<h3>{{commit.message|truncatechars:40}} </h3>

<p>{{commit.commitid}}</p>
<p>{{commit.date}}</p>

<p> <a href="/hub/author/{{commit.author.id}}">{{commit.author.name}}</a> </p>
<p> <a href="/hub/project/{{commit.project.id}}">{{commit.project.name}}</a> </p>
<p>
{{commit.message|linebreaksbr}}
</p>

<p>
<div class="column">
<table>
   <th>Language</th>
   <th>Tot nr of Lines</th>
   {% for c in contrib %}
   <tr class="langt">
      <td>{{c.language}}</td>
      <td>{{c.sum}}</td>
   </tr>
   {% endfor %}
</table>
</div>

<div class="column" id=ContribPie>
</div>
</p>

<script>
var width = 200,
    height = 200,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category10();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.sum; });

var svg = d3.select("#ContribPie").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var data = [
{% for c in contrib %}
{"sum": {{c.sum}}, "language": "{{c.language}}" },
{% endfor %}
]

var g = svg.selectAll(".arc")
   .data(pie(data))
   .enter().append("g")
   .attr("class", "arc");

g.append("path")
   .attr("d", arc)
   .style("fill", function(d) { return color(d.data.language); })
   .append("svg:title")
      .text(function(d) { return "Language: "+d.data.language+" updates: "+d.data.sum; });

g.append("text")
   .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
   .attr("dy", ".35em")
   .text(function(d) { return d.data.language; });
</script>

{% endblock %}
