{% extends "hub/base.html" %}

{% block content %}

<div class="column">
{% if active_project_list%}
<p>Active projects: </p>
   <table>
      <th>Projects</th>
      <th>Tot commits</th>
      {% for proj in active_project_list%}
         <tr class="langt">
            <td><a href="project/{{proj.id}}">{{proj.name}}</a></td>
            <td>{{proj.num_commits}}     </td>
         </tr>
      {% endfor %}
    </table>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
</div>

<div class="column">
<p>Active contributors: </p>
   <table>
      <th>Person</th>
      <th>Tot commits</th>
      {% for au in active_author_list%}
         <tr class="langt">
            <td><a href="author/{{au.id}}">{{au.name}}</a></td>
            <td>{{au.num_commits}}     </td>
         </tr>
      {% endfor %}
   </table>
</div>

{% endblock %}
