{% extends "hub/base.html" %}


{% block content %}

<h2> {{project.name}} </h2>

{% if activity_cal %}
<p>
<img src="{{activity_cal}}"/>
</p>
{% endif %}

{% if project_contrib %}
{{project.name}}'s languages:
<p>
<div class="column">
<table>
   {% for c in project_contrib %}
   <tr class="langt">
      <td>{{c.language}}</td>
      <td>{{c.sum}}     </td>
   </tr>
   {% endfor %}
</table>
</div>

<div class="column" id=ContribPie>
</div>

<p>
{{project.name}} most active contributors:
<table>
   <tr>
      <th>Author</th>
      <th>Commits</th>
   </tr>
   {% for c in contributors %}
   <tr>
      <td><a href="/hub/author/{{c.id}}/">{{c.name}}</a></td>
      <td>{{ c.num_commits }}</td>
   </tr>
   {% endfor %}
</table> 

<p>
{{project.name}}'s commits:
<table>
   <tr>
      <th>Date</th>
      <th>Project</th>
      <th>Message</th>
   </tr>
   {% for c in commits %}
   <tr>
      <td>{{ c.date|date:'Y-m-d' }}</td>
      <td>{{ c.project }}</td>
      <td>{{c.message}}</td>
   </tr>
   {% endfor %}
</table> 

{% else %}
<p>No contributions ... :/ .</p>
{% endif %}

{% if video %}
<p>
<video width="400" controls>
   <source src="{{video}}" type="video/mp4">
   Your browser does not support HTML5 video.
</video>
</p>
{% endif %}

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
var width = 200,
    height = 200,
    radius = Math.min(width, height) / 2;

var color = d3.scale.category10();

var arc = d3.svg.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var labelArc = d3.svg.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var pie = d3.layout.pie()
    .sort(null)
    .value(function(d) { return d.sum; });

var svg = d3.select("#ContribPie").append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var data = [
{% for c in project_contrib %}
{"sum": {{c.sum}}, "language": "{{c.language}}" },
{% endfor %}
]

var g = svg.selectAll(".arc")
   .data(pie(data))
   .enter().append("g")
   .attr("class", "arc");

g.append("path")
   .attr("d", arc)
   .style("fill", function(d) { return color(d.data.language); })
   .append("svg:title")
      .text(function(d) { return "Language: "+d.data.language+" updates: "+d.data.sum; });

g.append("text")
   .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
   .attr("dy", ".35em")
   .text(function(d) { return d.data.language; });

</script>

{% endblock %}
